version: '3.8'

services:
  postgres:
    image: 'postgres:14.0'
    ports: 
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: turkcell
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data
  